body{
	height: 100%;
	width: 100%;
}
.footer {
	text-align: center;
	bottom: 0;
	padding: 8px;
}


ul.topnav {
	display: fixed;
	list-style-type: none;
	margin: 0;
	padding-left : 15px;
	overflow: hidden;
	background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 14px;
	text-decoration: none;
	font-size: 18px;
}

ul.topnav li a:hover:not(.active) {
	background-color: gray;}

ul.topnav li a.active {
background-color: purple;}


ul.topnav li.right {
	float: right;
}

@media screen and (max-width: 600px) {
	ul.topnav li.right, 
	ul.topnav li {float: none;}
}

.how-section1{
	margin-top:-15%;
	padding: 10%;
}
.how-section1 h4{
	color: purple;
	font-weight: bold;
	font-size: 30px;
}
.how-section1 .subheading{
	color: grey;
	font-size: 20px;
}
.how-section1 .row
{
	margin-top: 10%;
}
.how-img 
{
	text-align: center;
}

.how-img2
{
	text-align: center;
}
.how-img img{
	width: 80%;
}

.how-img2 img{
	width: 80%;
}